h1 {color: black;
font-family: "Times New Roman";
}
h2 {color: black;
font-family: "Times New Roman";
}
h3 {color: black;
font-family: "Times New Roman";
}
h4 {color: black;
font-family: "Times New Roman";
}
h5 {color: black;
font-family: "Times New Roman";
}
h6 {color: black;
font-family: "Times New Roman";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  background-color: #444;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

li a:hover {
  background-color: #111;
}

body {color: black; background-color: #C4FFCA;
}

{
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
